<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link type="text/css" rel="stylesheet" href= "static/css/style1.css"/>
		<title>Assignment 2 - INFO 253 Web Architecture</title>
	</head>
	<body>
		<header>
			<a href = index>Home</a>
			<a href = about>About Us</a>
			<a href = contact>Contact Us</a>
		</header>
			<h1>About Us</h1>
				<ul>
					<li>Name  : Taejin Jeong</li><br>
					<li>E-mail : taejinjeong89@gmail.com</li><br>
					<li>School: University of California, Berkeley</li><br>
				</ul>
		<footer>
			<a href = index>Home</a>
			<a href = about>About Us</a>
			<a href = contact>Contact Us</a>
		</footer>
	</body>
</html>